<%= form_with(model: list) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name, "aria-invalid": list.errors[:name].any? ? true : nil %>
  <% if list.errors[:name].any? %>
    <% list.errors.full_messages_for(:name).each do |error| %>
      <p class="danger"><small><%= error %></small></p>
    <% end %>
  <% end %>

  <%= form.label :description %>
  <%= form.text_area :description %>

  <fieldset>
    <%= form.label :public, for: "switch" do %>
      <%= form.check_box :public, role: "switch" %>
      <%= "#{:public.capitalize()}" %>
    <% end %>
  </fieldset>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <%= form.submit %>
<% end %>
