<h1><%= @list.name %></h1>
<small>
  <strong><%= @list.apps.count %></strong> Apps
</small>

<div>
  <%= link_to "Edit this list", edit_list_path(@list), role: "button" %>
  <%= link_to "Back to lists", lists_path, role: "button" %>
  <%= button_to "Destroy this list", @list, method: :delete %>
</div>

<section>
  <figure>
    <%= render @list.apps %>
  </figure>
  <div>
    <hr/>
    <h3>Add an app</h3>
    <%= render partial: 'apps/form', locals: { app: @list.apps.build } %>
  </div>
</section>
