<section>
  <hgroup>
    <h2><%= @list.name %></h2>
    <h3><%= pluralize(@list.entries.count, "App")%> By <strong><%= @list.user.username %></strong></h3>
  </hgroup>
</section>

<% if current_user and @list.user_id == current_user.id %>
  <section>
    <%= link_to "Edit", edit_list_path(@list), role: "button" %>
    <%= link_to "Delete", @list, role: "button", class: "danger", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?', disable_with: "Deleting..." } %>
  </section>
<% end %>

<section>
  <ul class="entries">
    <%= render @list.entries %>
  </ul>
</section>

<% if current_user and @list.user_id == current_user.id %>
  <hr/>
  <section>
    <h3>Add an app</h3>
    <%= render partial: 'entries/form', locals: { entry: @list.entries.build } %>
  </section>
<% end %>
