<section>
  <hgroup>
    <h2><%= @list.name %></h2>
    <h3><%= pluralize(@list.entries.count, "App") %>
      by
      <% if @list.user.public %>
        <strong><%= link_to @list.user.username, user_path(@list.user.username) %></strong>
      <% else %>
        <strong><%= @list.user.username %></strong>
      <% end %>
    </h3>
  </hgroup>
</section>

<% if @is_owner %>
  <section>
    <%= link_to "Add App", list_add_path(@list), role: "button" %>
    <%= link_to "Edit", edit_list_path(@list), role: "button" %>
    <%= link_to "Delete",
    @list,
    role: "button",
    class: "danger",
    data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?",
      disable_with: "Deleting..."
    } %>
  </section>
<% end %>

<section>
  <ul class="apps">
    <%= render @list.entries %>
  </ul>
</section>

<script>
// Overwrite the last history page to the root page
// so that the back button will always go back to the root page
// instead of the edit page, app page, or add page.
history.pushState(null, null, "<%= root_path %>");
history.pushState(null, null, "<%= list_path(@list) %>");
window.addEventListener("popstate", function (e) {
  window.location.assign(e.target.location);
});
</script>
