<li id="<%= dom_id entry %>" class="entry">
  <%= app_store_icon(entry) %>
  <div>
    <%= app_title(entry) %>
    <br>
    <%= link_to "View Details", entry, role: "button", class: "details-btn" %>
    <%= user_remark(entry, inline: true) %>
  </div>
</li>
