<li id="<%= dom_id entry %>">
  <img src="<%= entry.app.artwork %>" alt="Icon of <%= entry.app.name %>" class="app" />
  <div>
    <%= link_to entry.app.name, entry %>
    <% if entry.remark %>
      <blockquote class="long-text remark"><%= entry.remark %></blockquote>
    <% end %>
  </div>
</li>
