<section>
  <%= link_to "Back to #{@entry.list.name}", @entry.list %>
</section>

<section>
  <img src="<%= @entry.app.artwork %>" alt="Icon of <%= @entry.app.name %>" class="app" />
  <h1><a href="https://apps.apple.com/<%= @entry.app.country %>/app/id<%= @entry.app.id %>" target="_blank"><%= @entry.app.name %></a></h1>
</section>

<% if current_user and @entry.list.user_id == current_user.id %>
  <section>
    <%= link_to "Edit", edit_entry_path(@entry), role: "button" %>
    <%= link_to "Remove from #{@entry.list.name}", @entry, role: "button", class: "danger", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?', disable_with: "Deleting..." } %>
  </section>
<% end %>

<section>
  <% if @entry.remark %>
    <p class="long-text"><%= @entry.remark %></p>
    <hr/>
  <% end %>
  <p class="long-text"><%= @entry.app.description %></p>
</section>
