<section>
  <%= link_to "Back to #{@entry.list.name}", @entry.list %>
</section>

<section>
  <%= app_store_icon(@entry) %>
  <h1><%= app_title(@entry) %></h1>
</section>

<% if @is_owner %>
  <section>
    <%= link_to "Edit", edit_entry_path(@entry), role: "button" %>
    <%= link_to "Remove from #{@entry.list.name}",
    @entry,
    role: "button",
    class: "danger",
    data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?",
      disable_with: "Deleting..."
    } %>
  </section>
<% end %>

<section>
  <%= user_remark(@entry) %>
  <p class="long-text"><%= @entry.app.description %></p>
</section>

<script>
// Overwrite the last history page to the list page
// so that the back button will always go back to the list page
// instead of the edit page.
history.pushState(null, null, "<%= list_path(@entry.list) %>");
history.pushState(null, null, "<%= entry_path(@entry) %>");
window.addEventListener("popstate", function (e) {
  window.location.assign(e.target.location);
});
</script>
