<%= form_with(model: user, url: user_path(user.username)) do |form| %>
  <%= form.label :username %>
  <%= form.text_field :username,
                  "aria-invalid": user.errors[:username].any? ? true : nil %>
  <% if user.errors[:username].any? %>
    <% user.errors.full_messages_for(:username).each do |error| %>
      <p class="danger"><small><%= error %></small></p>
    <% end %>
  <% end %>

  <fieldset>
    <%= form.label :public, for: "switch" do %>
      <%= form.check_box :public, role: "switch" %>
      <%= "#{:public.capitalize()}" %>
    <% end %>
  </fieldset>

  <%= form.submit "Save" %>
<% end %>

<% if user.google_uid %>
  <%= link_to "Revoke Google Login",
  user_google_revoke_path,
  role: "button",
  class: "danger",
  data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure you want to revoke Google Login?",
    disable_with: "Revoking..."
  } %>
<% else %>
  <%= button_to "Connect Google Login",
  user_google_oauth2_omniauth_authorize_path,
  method: :post,
  data: {
    turbo: false
  } %>
<% end %>
