<div id="<%= dom_id app %>">
  <details>
    <summary><%= app.name %> (<%= app.id %>)</summary>
    <p><%= app.description %></p>

    <%= form_with(model: app) do |form| %>
      <div>
        <%= form.hidden_field :id %>
        <%= form.submit %>
      </div>
    <% end %>
  </details>
</div>
