<div id="<%= dom_id app %>">
  <p>
    <strong>Id:</strong>
    <%= app.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= app.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= app.description %>
  </p>

  <p>
    <strong>List:</strong>
    <%= app.list_id %>
  </p>

</div>
