<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AppShelf - Decent shelf for decent apps</title>
    <meta name="title" content="AppShelf - Decent shelf for decent apps">
    <meta name="description" content="Some apps provide great functionality and user experience, but you might not need them to stay on your device all the time. So you put them on the shelf and have them back when you need them.">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= root_url %>">
    <meta property="og:title" content="AppShelf - Decent shelf for decent apps">
    <meta property="og:description" content="Some apps provide great functionality and user experience, but you might not need them to stay on your device all the time. So you put them on the shelf and have them back when you need them.">
    <meta property="og:image" content="<%= asset_url("opengraph.png") %>">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="<%= root_url %>">
    <meta property="twitter:title" content="AppShelf - Decent shelf for decent apps">
    <meta property="twitter:description" content="Some apps provide great functionality and user experience, but you might not need them to stay on your device all the time. So you put them on the shelf and have them back when you need them.">
    <meta property="twitter:image" content="<%= asset_url("opengraph.png") %>">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1.5.10/css/pico.min.css" integrity="sha256-AmkBgnWRWgRJIBCpCCmwuc/mbOWTWKepkFXimo1nQqk=" crossorigin="anonymous">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="container">
      <nav>
        <ul>
          <li>
            <%= link_to root_path do %>
              <%= image_tag "logo.png", class: "brand" %>
            <% end %>
          </li>
        </ul>
        <ul>
          <% if user_signed_in? %>
            <li>
              <details role="list">
                <summary aria-haspopup="listbox" role="link" class="secondary"><%= current_user.username %></summary>
                <ul role="listbox">
                  <li><%= link_to "Profile", user_path(current_user.username) %></li>
                  <li><%= link_to "Setting", edit_user_path(current_user.username) %></li>
                  <li><%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to sign out?' } %></li>
                </ul>
              </details>
            </li>
          <% else %>
            <li><%= link_to "Sign in", user_session_path %></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>
    <main class="container">
      <ins><%= notice %></ins>
      <p class="danger"><%= alert %></p>
      <%= yield %>
    </main>
    <footer class="container">
      <small
        >Built with 💎 Ruby on Rails + <a href="https://picocss.com" target="_blank">Pico CSS</a>
        <br>
        by <a href="https://github.com/tomy0000000" target="_blank">Tomy Hsieh</a> at 🇹🇭 Bangkok, Thailand
        <br>
        <a href="https://github.com/tomy0000000/appshelf" target="_blank"
          >Source code</a
        ></small
      >
    </footer>
  </body>
</html>
